CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wsign-conversion
    - -Wshadow
    - -Wunused-variable
    - -Wstrict-prototypes
    - -Wold-style-definition
    - -Wdouble-promotion
    - -Wfloat-equal
    - -Wcast-align
    - -Wundef
    - -Wuninitialized
    - -Wswitch-enum
    - -Wswitch-default
    - -Wbad-function-cast
    - -Wstrict-aliasing
    - -Wmissing-prototypes
    - -Wreserved-identifier
    - -Wno-empty-translation-unit
    - -Wno-unused-const-variable

Completion:
  HeaderInsertion: Never
